.petsy__container {
  margin-top: 35px;
}

.petsy__container--div {
  margin-bottom: 30px;
}

.petsy > img {
  border-radius: 5px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.petsy > img:hover {
  cursor: pointer;
  opacity: 90%;
}

@media only screen and (max-width: 768px) {
  .petsy__container {
    margin-top: 35px;
    margin-right: 35px;
  }
}
